[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

numpy = "==1.13.3"
scikit-learn = "==0.19.1"
pydumper = "*"
scipy = "*"
"cv2wrap" = "*"


[requires]

python_version = "2.7"
