[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

numpy = "==1.13.3"
scikit-learn = "==0.19.1"
pydumper = "*"
scipy = "*"
"cv2wrap" = "*"
typeshed = "*"
typing = "*"
pathos = "*"
pip = "*"
wheel = "*"
setuptools = "*"
matplotlib = "*"
keras = "*"
tensorflow = "*"


[requires]

python_version = "2.7"
opencv_version = "2.4.13.4"  # This line has no effect, is only for reporting
